html,body,.mui-content{
	background-color: white;
	font-family: "microsoft yahei";
}
.div-padding{margin: 5%;}
.mui-bar-nav{background-color: #1891ee;}
.mui-title{color: white;}
header .mui-icon{color: white;}
